@model WEB_253503_Soroka.Domain.Models.Cart


@{
    ViewData["Title"] = "Cart";
}

<h1>Index</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartItems[0].Show.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartItems[0].Show.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartItems[0].Show.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CartItems[0].Count)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>
                <img src="@item.Show.Image" alt="pic" style="width: 200px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <form asp-controller="cart" asp-action="delete" asp-route-id="@item.Show.Id">
                    <input type="hidden" name="returnUrl" value="@(ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString.ToUriComponent())"/>
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>